/target
/_build/
.idea/*
.tocodex/
.trae/
.tmp-cache/
.tmp-home/
moonbit/vellum-gui-sdk/**/_build/
moonbit/vellum-gui-sdk/examples/**/target/
moonbit/vellum-gui-sdk/apps/**/target/
moonbit/vellum-gui-sdk/_build/
moonbit/demos/**/_build/
moonbit/demos/**/target/
moonbit/vellum-app-sdk/**/_build/
moonbit/vellum-plugin-sdk/**/_build/
examples/plugins/**/_build/
examples/plugins/**/target/
